.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  margin: 8px;
  position: relative;
}

.card-category a {
  color: white;
  text-decoration: none;
}

.card-icon {
  position:absolute;
  top: 4px;
  right: 8px;
  text-decoration: none;
}

.card-container {
  display: flex;
}


// Category show card (card-recipe)

.card-recipe {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;
  position: relative;
}

.card-recipe > img {
  height: 200px;
  min-width: 340px;
  object-fit: cover;
}

.card-recipe h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-recipe p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-recipe .card-recipe-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
