<h1>View your cookbook categories here</h1>
<ul>
  <% @categories.each do |category| %>
  <li><%= link_to category.name.capitalize, category_path(category) %> | <%= link_to "delete", category_path(category), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
  <% end %>
</ul>

<%= link_to "add a new category", new_category_path %>
