<div class="container">

  <h1>Add a new category to your cookbook</h1>

  <%= simple_form_for(@category) do |f| %>
    <%= f.input :name, placeholder: "breakfast dishes..." %>
    <%= f.submit "add category", class: "btn btn-primary btn-font-white" %>
  <% end %>
</div>



<%# <%= link_to 'back', categories_path %>
